<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
  <script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

  <link rel="apple-touch-icon" sizes="57x57" th:href="@{/img/apple-icon-57x57.png}">
  <link rel="apple-touch-icon" sizes="60x60" th:href="@{/img/apple-icon-60x60.png}">
  <link rel="apple-touch-icon" sizes="72x72" th:href="@{/img/apple-icon-72x72.png}">
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/img/apple-icon-76x76.png}">
  <link rel="apple-touch-icon" sizes="114x114" th:href="@{/img/apple-icon-114x114.png}">
  <link rel="apple-touch-icon" sizes="120x120" th:href="@{/img/apple-icon-120x120.png}">
  <link rel="apple-touch-icon" sizes="144x144" th:href="@{/img/apple-icon-144x144.png}">
  <link rel="apple-touch-icon" sizes="152x152" th:href="@{/img/apple-icon-152x152.png}">
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-icon-180x180.png}">
  <link rel="icon" sizes="192x192" th:href="@{/img/android-icon-192x192.png}" type="image/png}">
  <link rel="icon" sizes="32x32" th:href="@{/img/favicon-32x32.png}" type="image/png}">
  <link rel="icon" sizes="96x96" th:href="@{/img/favicon-96x96.png}" type="image/png}">
  <link rel="icon" sizes="16x16" th:href="@{/img/favicon-16x16.png}" type="image/png}">
  <meta content="#ffffff" name="msapplication-TileColor">
  <meta name="msapplication-TileImage" th:content="@{/img/ms-icon-144x144.png}">
  <meta content="#ffffff" name="theme-color">

  <title>Erro ao emitir certificados</title>
</head>

<body>
<div class="container">
  <div class="row h-100">
    <div class="col-sm-12 my-auto text-center">
      <h1>ERRO 500</h1>
      <h2>Nao foi possivel emitir os certificados</h2>
      <p class="lead">A emissao foi interrompida por um erro interno.</p>
      <div class="alert alert-danger text-left" role="alert" th:if="${errorMessage}">
        <strong>Detalhe:</strong>
        <span th:text="${errorMessage}">Mensagem do erro</span>
      </div>
      <a class="btn btn-primary btn-lg" th:href="@{/}">Voltar para o formulario</a>
    </div>
  </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
